html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #6C4AB6;
}

.nav {
    width: 100%;
    position:fixed;
    overflow: hidden;
    font-weight: bold;
    background-color: #ffffff;
}


.nav a {
    float: left;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}
.nav a:hover {
    color: #6C4AB6;
}

.random {
    color: #404258;
}

.heading {
    padding-top: 30vh;
    margin: 0;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.295), #6c4ab6), url(images/Ashfaq.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}


.heading h1 {
    line-height: 0;
}

.heading h2 {
    color: rgb(255, 255, 255);   
}


.aboutme {
    display: block;
    height: 100vh;
    padding: 10vh;
    white-space: normal;
}

.container {
    display: grid;
    align-self: center;
    grid-template-columns: 50% 50%;
    padding-bottom: 15vh;
}

.grid-item {
    padding: 5%;
}

.aboutme .container p {
    display: block;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    color: #6C4AB6;
    padding: 0.5rem;
    font-size: small;
    font-weight: bold;
}
.aboutme .container span {
    color:#fff;
    display: block;
    text-align: justify;
    line-height: 1.5rem;
}

.projects {
    height: 100vh;
    padding-top: 10vh;
}

.flex-container {
    padding: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10vh;
}

.item {
    padding: 2vh;
    background-color: white;
    height: 50vh;
    width: 40vh;
    border-radius: 1rem;
    color: #fff;
    font-weight: bold;
    box-shadow: 5px 5px #f7f7f7;
    transition: transform 0.5s;
}

.item:hover {
    transform: scale(1.1);
}


.contact{
    display: block;
    height: 25vh;
    padding: 25vh;
    background-color: #8D72E1;
    text-align: center;
    border-radius: 3rem;
}

.contactbtn {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #6C4AB6;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .contactbtn:hover {
    box-shadow: #6C4AB6 0 0 0 3px, transparent 0 0 0 0;
  }

.credit{
    display: block;
    padding: 2rem;
    color: #fff;
    text-align: center;
}

.arduino {
    background-image:linear-gradient(to bottom, rgba(134, 91, 255, 0.70), rgba(117, 19, 93, 0.73)), url(https://images.unsplash.com/photo-1631378297854-185cff6b0986?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YXJkdWlub3xlbnwwfHwwfHw%3D&w=1000&q=80);
    background-size: cover;
    background-position: center;
}

.arm {
    background-image:linear-gradient(to bottom, rgba(134, 91, 255, 0.70), rgba(117, 19, 93, 0.73)), url(https://d2t1xqejof9utc.cloudfront.net/screenshots/pics/2c4000bd30abd1d5cc2cf179f11e90cb/large.jpg);
    background-size: cover;
    background-position: center;
}

.rc {
    background-image:linear-gradient(to bottom, rgba(134, 91, 255, 0.70), rgba(117, 19, 93, 0.73)), url(https://hackster.imgix.net/uploads/attachments/1249981/_AXpGuZP7pY.blob?auto=compress%2Cformat&w=600&h=450&fit=min);
    background-size: cover;
    background-position: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

